/* 셀렉터(태그, id, class 등)를 적고 중괄호를 열고 */
h1 {
    /* CSS 속성-값 쌍을 적어주고 세미콜론(;)을 붙입니다. */
    color: lightcoral;
}

img {
    width: 300px;
    border-radius: 25px;
}

/* class는 .으로 시작합니다. */
/* > 는 손자, 증손자 말고 진짜 "자식"만을 취급합니다. */
ul >.skill {
    color: crimson;
    font-style: italic;
}

/* 그냥 띄우면 자식, 손자, 증손자 등등 */
body .skill {
    color: green;
}

/* id 셀렉터는 #으로 시작합니다. */
#short-intro {
    background-color: skyblue;
    color: #fff;
}

#python {
    color: skyblue;
}